.container {
    background-color: rgb(49, 49, 49);
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(114, 114, 114);

}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    height: 60%;
    width: 90%;
    margin: 20px auto;
    color: aliceblue;

}