.container_projects {
    padding: 0 35px;
    width: 100%;
    color: rgb(50, 50, 50);
    height: auto;
    min-height: 85vh;
    margin: 0 auto;
    background-color: #ffffffd6;
    opacity: 1;
    max-width: 1200px;
    background-image: linear-gradient(135deg, #ffffff29 25%, transparent 25%),
    linear-gradient(225deg, #fefefe23 25%, transparent 25%),
    linear-gradient(45deg, #f2f2f20f 25%, transparent 25%),
    linear-gradient(315deg, #9595950c 25%, #f5f5f74f 25%);
    background-position: 5px 0,
    5px 0,
    0 0,
    0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
place-content: center;}


.container_projects h1 {
    color: black;
    font-weight: 200;
    font-size: 4rem;
    transform: skewX(-12deg);
    text-align: center;
}
.container_projects h2{
    transform: skewx(-12deg);
    color: black;
    font-weight: 200;
    font-size: 2.2rem;
    margin: 60px 0 40px 0 ;
}

.card_projects {

    width: 250px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


background-color: rgb(243, 243, 243);
border: transparent solid 1px;

}


.title_projects {
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}


.main_projects {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr) );
gap: 40px;
padding: 10px 0;
margin: 20px auto;
place-items: center;
}

.main_projects a {
    text-decoration: none;
    color: black;
}

.image_projects {
    object-fit: cover;
    filter: grayscale(100%);
}
.image_projects:hover {
    filter: grayscale(0%);
}



.description_projects {

    margin: 3px 10px;
    font-size: .8rem;
}

.menu_inline_projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.menu_container {

    display: flex;
    max-width: 75%;
    margin: 30px auto;
}


@media(width >=1280px) {
    .menu_container {

        max-width: 70%;
    }

}



.line_projects {
    height: 1px;
    width: 20%;
    margin: 0 10px 0 0;

    background-color: transparent;
    background-clip: content-box;
    background-image: linear-gradient(to right, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71);
    background-size: 800%;
    animation: color 12s linear infinite;
}

@media(width >= 768px){

    .container_projects{
        padding: 0 140px;
    }

    .main_projects {
       
        gap: 42px;
       
    }
}