.container_projects {
    padding: 30px 35px;
    width: 100%;
    color: rgb(50, 50, 50);
    height: auto;
    min-height: 85vh;
    margin: 0 auto;
    background-color: #fafafa2d;
    opacity: 1;
    max-width: 1200px;
    background-image: linear-gradient(135deg, #d6d6d629 25%, transparent 25%),
    linear-gradient(225deg, #d0d0d023 25%, transparent 25%),
    linear-gradient(45deg, #95959502 25%, transparent 25%),
    linear-gradient(315deg, #9595950c 25%, #e5e5f708 25%);
    background-position: 5px 0,
    5px 0,
    0 0,
    0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}


.container_projects h1 {
    color: black;
    font-weight: 200;
    font-size: 4rem;
    transform: skewX(-12deg);
}
.container_projects h2{
    transform: skewx(-12deg);
    color: black;
    font-weight: 200;
    font-size: 2.2rem;
    margin: 60px 0 40px 0 ;
}

.card_projects {

    width: 200px;
    height: 93px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
;
    
}
.container_projects .title_projects {
width: 90%;
margin: 30px 0 30px 0;

}

.main_projects {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr) );
gap: 40px;
padding: 10px 20px;
margin: 20px auto;
place-items: center;
}

.main_projects a {
    text-decoration: none;
    color: black;
}

.image_projects {
    object-fit: cover;
    filter: grayscale(100%);
}
.image_projects:hover {
    filter: grayscale(0%);
}

.title_projects {
    font-weight: 400;
    font-size: 1.1rem;

}


.description_projects {

    margin: 3px 10px;
    font-size: .8rem;
}

.menu_inline_projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 40px 0;
    animation: moveStart2 2s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: .9s;
    animation-fill-mode: backwards;
}

.menu_inline_projects a {
    text-decoration: none;
    margin: 0 5px;
    font-size: .8rem;
    color: black;
}

.line_projects {
    background-color: black;
    height: 1px;
    width: 30%;
    margin: 0 10px 0 0;
}

