.container_projects {
    padding: 15px 35px;
    width: 100%;
    color: rgb(50, 50, 50);
    height: auto;
    min-height: 85vh;
    opacity: 1;
    max-width: 100%;
    background: var(--back-about);
    place-content: center;
}


.container_projects h1 {
    color: var(--title-a-color);
    font-weight: 200;
    font-size: 4rem;
    transform: skewX(-12deg);
    text-align: center;
}

.container_projects h2 {
    transform: skewx(-12deg);
    color: black;
    font-weight: 200;
    font-size: 2.2rem;
    margin: 60px 0 40px 0;
}

.card_projects {

    width: 250px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


    background-color:var(--back-cards);
    border: transparent solid 1px;

}


.title_projects {
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}


.main_projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding: 35px 0;
    margin: 20px auto 0 auto;
    place-items: center;
    max-width: 1100px;

}

.main_projects a {
    text-decoration: none;
    color: black;
}

.image_projects {
    object-fit: cover;
    filter: var(--filter-cards-image)
}

.image_projects:hover {
    filter: grayscale(0%);
}



.description_projects {

    margin: 3px 10px;
    font-size: .8rem;
}

.menu_inline_projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.menu_container {

    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    background: var(--back-about);
}

@media(width >=1280px) {
    .menu_container {

        max-width: 100%;
    }

}



.line_projects {
    height: 1px;
    width: 20%;
    margin: 0 10px 0 0;

    background-color: transparent;
    background-clip: content-box;
    background-image: linear-gradient(to right, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71);
    background-size: 800%;
    animation: color 12s linear infinite;
}

@media(width >=768px) {

   
.main_projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 80px;
    padding: 35px 0;
    margin: 20px auto 0 auto;
    place-items: center;
    width: 90%;
}
    .main_projects {

        gap: 42px;

    }
}