.container_contact {
    padding: 30px 35px;
    width: 100%;
    color: rgb(50, 50, 50);
    height: 85vh;
    margin: 0 auto;
    background-color: #e5e5f72d;
    opacity: 1;
    max-width: 1200px;
    background-image: linear-gradient(135deg, #95959529 25%, transparent 25%),
        linear-gradient(225deg, #95959523 25%, transparent 25%),
        linear-gradient(45deg, #95959502 25%, transparent 25%),
        linear-gradient(315deg, #9595950c 25%, #e5e5f708 25%);
    background-position: 5px 0,
        5px 0,
        0 0,
        0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

.container_contact h1 {
    transform: skewx(-12deg);
}


.container_contact .title_contact {
    width: 90%;
    margin: 30px 0 30px 0;

}

.rrss_contact {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 30px 0 0;
}


.icon_contact {
    filter: invert(77%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(87%) contrast(84%);
    margin: 6px;
}

.icon_contact:hover {
    filter: invert(0%) sepia(89%) saturate(7500%) hue-rotate(64deg) brightness(90%) contrast(110%);
}



.subtitle_contact {
    margin: 20px 0;
}

.title_contact {
    font-weight: 400;
    font-size: 1.1rem;

}

.container_contact h1 {
    color: black;
    font-weight: 200;
    font-size: 4rem;
    transform: skewX(-10deg);
}

.container_contact a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

.description_contact {

    margin: 3px 10px;
    font-size: .8rem;
}

.menu_inline_contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 40px 0;
    animation: moveStart2 2s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: .9s;
    animation-fill-mode: backwards;
}

.menu_inline_contact a {
    text-decoration: none;
    margin: 0 5px;
    font-size: .8rem;
    color: black;
}

.line_contact {
    background-color: black;
    height: 1px;
    width: 30%;
    margin: 0 10px 0 0;
}