.overlay{

    width: 100%;
    height: 85vh;
    background-color: rgba(90, 90, 90, 0.755);
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {

    width: 30%;
    height: 30vh;
    background-color: rgb(152, 185, 71);
    position: absolute;
    z-index: 10;
}