.overlay {

    height: 100%;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.77);
    position: fixed;
    z-index: 10;


}

.wrapper {
/* background-color: aqua; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 425px;
    height: 80vh;

}