.menu_container {
    height: 10vh;
    width: 100%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    color: rgb(239, 239, 239);
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    width: 28px;
    height: 28px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 0 0 30px;

    animation: logoInfinite 5s infinite;

}

@keyframes logoInfinite {
    100% {
        transform: rotateY(360deg);
        
    }

    /* 100% {
        transform: translateY(0%);
    } */
}

.container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding:  0 30px 0 0;


    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}


.icon {
    filter: invert(77%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(87%) contrast(84%);
    margin: 6px;
}
.icon:hover {
    filter: invert(0%) sepia(89%) saturate(7500%) hue-rotate(64deg) brightness(90%) contrast(110%);
}

@media(min-width:768px){
    .container {
       
        padding: 0 60px 0 0;
    }

    .logo {
        
        margin: 0 0 0 60px;
    }

}

/* effects */

@keyframes moveStart2 {
    0% {
        opacity: 0;
        transform: translateX(60%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}