.container {
    background-color: rgba(235, 235, 235, 0.338);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(50, 50, 50);
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.container h1{
    transform: skewx(-12deg);
}

.card {

    width: 200px;
    height: 93px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
;
    
}
.container .title {
margin: 50px  0 30px 0;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    /* background-color: aqua; */
    margin: 30px auto;
gap: 45px;
}

.main a {
    text-decoration: none;
    color: black;
}

.image {
    object-fit: cover;
    filter: grayscale(100%);
}
.image:hover {
    filter: grayscale(0%);
}

.title {
    font-weight: 400;
    font-size: 1.1rem;
    margin: 10px 0 0 10px;

}
.container h1 {
    color: black;
    font-weight: 200;
    font-size: 4rem;
    transform: skewX(-10deg);
}

.description {

    margin: 3px 10px;
    font-size: .8rem;
}

@media(min-width:468px) {
    .main {
        width: 70%;

    }
    .container{
        height: auto;
    
    }
    
}
@media(min-width:635px) {
    .main {
        width: 70%;
        justify-content: space-around;
    }
    .container{
        height: 85vh;
        
    }
    .container .title{
        margin: 0 0 60px 0;
        
    }
}