.content_content {
    
    height: 90vh;
    width: 90%;
    background: linear-gradient(rgb(234, 234, 234), rgb(200, 200, 200), rgba(231, 231, 231, 0.885));
    padding: 10px 10px;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    margin: 0 auto;
    justify-content: center;

    background-color: #f6f6f6;
    opacity: 1;
    background-size: 11px 11px;
    background-image: repeating-linear-gradient(45deg, #ececec 0, #ebebeb 1.1px, #f6f6f6 0, #f6f6f6 50%);

}

.main_content {
    width: 90%;
    height: 70vh;
    margin: 0 auto;



}

/* back */
.back_container_content {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    margin: 2px 0 20px 0;
}

.back_container_content span {
    background-image: url('/icons/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.back_container_content h5 {
    font-weight: 500;
}

.back_container_content h5:hover {
    cursor: pointer;
    color: rgb(104, 104, 104);
}

/* header */
.content_content header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}
.image_content {
    margin: 20px 0;
}

.text_container_content {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 0 0;
    width: 100%;
    gap: 10px;
}

.text_container_content p {

    font-size: 0.9rem;
}

/* main */

.content_content main {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tec_container_content {
    display: flex;
    gap: 10px;
}

.links_content {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.demo_links_content {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.content_content footer {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.content_content footer h5 {
    color: grey;
}

.content_content button {
    width: 60%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(126, 126, 126);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(218, 218, 218);
    cursor: pointer;

}
.content_content button:hover {
    background-color: rgb(155, 155, 155)
}

.content_content a {

    text-decoration: none;
}

.button_container_content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tec_content {

    border-radius: 50%;
}
@media(min-width:768px) {
    .content_content {
        padding: 10px 20px;
    }

   .button_container_content {
       margin:30px 0 0 0;
   }
   .content_content button {
    width: 50%
   };

    .back_container_content {
        margin: 0 0 20px 0;
    }
}