.container_main {
    height: 85vh;
    width: 100%;
    /* background-color: rgba(241, 241, 241, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.main_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    /* height: 50%;
    width: 90%; */
    color: aliceblue;
}


.text_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    line-height: 4.5rem;
        cursor: pointer;

}

.text_main h1 {
    width: 300px;
    font-size: 5rem;
}

.menu_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    font-size: 1.2rem;

    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 1.4s;
    animation-fill-mode: backwards;
}

.menu_main a {
    text-decoration: none;
    color: rgb(98, 98, 98);
    /* transition: color 10s ease; */
    width: 180px;
    transition: width .5s ease;
    font-weight: 600;
    font-size: 1.6rem;

}

.menu_main a:hover {
    color: rgb(23, 23, 23);
    width: 150px;

}

/* .effect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    transition: background-position .4s ease;
    background: linear-gradient(to right, transparent 50%, rgb(82, 82, 82) 50%) no-repeat left / 200%;

}

.effect:hover {

    background-position: right;
    color: rgb(219, 219, 219);

}  */


@media(min-width:768px) {

    .main_main {
        flex-direction: row;
        width: 82%;
        gap: 20px;

    }

    .text_main {
        width: 50%;
        font-size: 1rem;
    }

    .menu_main {
        align-items: center;
        font-size: 1.4rem;
            border-left: 2px solid rgba(14, 14, 14, 0.355);

    }

    
}

@media(min-width:1000px) {


    .text_main {
        width: 50%;
        font-size: 1.1rem;
    }

    .menu_main_main {
        align-items: center;
        font-size: 1.7rem;
    }

   

}

/* effectos */

.hola_main {
    /* font-size: 7rem; */
    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: .8s;
    animation-fill-mode: backwards;
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px rgb(154, 154, 154);

}

.soy_main {
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px rgb(154, 154, 154);

    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 1s;
    animation-fill-mode: backwards;

}

.marvin_main {

    font-size: 5.8rem;
    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
    color: rgb(0, 0, 0);
}

.profesion_main {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    width: 290px;
    margin: 12px 0;
    flex-direction: column;
    /* background-color: aqua; */
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: rgb(119, 119, 119);


    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 1.3s;
    animation-fill-mode: backwards;


}

@keyframes moveStart2 {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.container_main video {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 10vh;
    left: 0;
}