.menu_container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;

}
.menu_container ul{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content:flex-start;
    list-style: none;
    line-height: 2rem;
    gap: 20px;
}

.menu_container ul::before{
    content: '';
    width: 5rem;
    height: 0.25rem;

    background: transparent;
    background-clip: content-box;
    background-image: linear-gradient(to right, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71);
    background-size:500%;
    animation: color 12s linear infinite;

}

.menu_container a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
.menu_container a:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71);
    background-size:500%;
    animation: color 12s linear infinite;
}


@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}