.menu_container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.menu_container p{
    font-size: 1.2rem;
}
.menu_container p:hover{
    font-size: 1.2rem;
    font-weight: 500;
}
.menu_container a {
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}
.menu_container a:hover {
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71);
    background-size:800%;
    animation: color 12s linear infinite;
}
@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}