.overlay_modal {

    height: 100%;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.734);
    position: fixed;
    z-index: 10;


}

.wrapper_modal {
/* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

@media screen and (min-width: 640px) {
    .wrapper_modal {
        width: 70%;
        
    }
}

@media screen and (min-width: 768px) {
    .wrapper_modal {
        width: 60%;
       
    }
}

@media screen and (min-width: 1024px) {
    .wrapper_modal {
        width: 40%;
        
    }
}

/* Estilos comunes a todos los tamaños de pantalla */
.wrapper_modal {
    padding: 24px;
    
}
