* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --title-a-color: rgb(111, 111, 111);
  --title-ppal-color: rgb(60, 60, 60);
  --text-effect-color-h2: transparent;
  --text-effect-color: transparent;
  --back-video-home: rgba(241, 241, 241, 0);
  --container-light-color:linear-gradient(45deg, #f5f5f5, #dcdcdc);
  --filter-icon-header:invert(42%) sepia(9%) saturate(26%) hue-rotate(328deg) brightness(102%) contrast(94%);
  --main-menu-border-left: 2px solid rgba(14, 14, 14, 0.355);
  --back-about: rgba(241, 241, 241, 0);
  --back-cards: rgb(243, 243, 243);
  --filter-cards-image:grayscale(100%);
  ;

}

[data-theme='dark'] {
  --title-a-color: rgb(202, 202, 202);
  --title-ppal-color: rgb(172, 172, 172);
  --text-effect-color: rgb(185, 185, 185);
  --back-video-home: linear-gradient(rgba(36, 36, 36, 0.754), rgb(50, 49, 49) );
  --container-light-color:linear-gradient(rgba(39, 39, 39, 0.795), rgba(54, 54, 54, 0.888));
  --filter-icon-header:invert(90%) sepia(7%) saturate(0%) hue-rotate(54deg) brightness(87%) contrast(84%);
  --main-menu-border-left: 2px solid rgb(153, 153, 153);
  --back-about: rgba(36, 36, 36, 0.754);
   --back-cards: rgba(216, 216, 216, 0.24);
}