.menu_container_header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #777777;
    background: linear-gradient(to bottom, #dcdcdc, #f0f0f0); */

    background: var(--container-light-color);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);

}

.menu_container_header a {
   text-decoration: none;

}


.logo_header {
    color: rgb(239, 239, 239);
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 0 0 20px;

   animation: color linear 10s infinite;
   background-color: transparent;
   background-clip: content-box;
   background-image: linear-gradient(to right, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71, #7B68EE, #3498db, #2ecc71);
   background-size:800%;
   animation: color 12s linear infinite;

    /* animation: logoInfinite 5s infinite; */

}
@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}



@keyframes rotate-vertical-center {
    0% {
        transform: rotateY(0)
    }

    100% {
        transform: rotateY(360deg)
    }
}

/* @keyframes logoInfinite {
    100% {
        transform: rotateY(360deg);
        
    }

    100% {
        transform: translateY(0%);
    }
} */

.container_header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding:  0 20px 0 0;


    /* animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 1s;
    animation-fill-mode: backwards; */
}


.icon_header {
    filter: var(--filter-icon-header);
    margin: 6px;
}




@media(min-width:768px){
    .container_header {
       
        padding: 0 10px 0 0;
            width: 72%;

    }

    .logo_header {
        
        margin: 0 0 0 10px;
    }

}

/* effects */

@keyframes moveStart2 {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}